[package]
name = "vaccel"
version = "0.5.1"
authors = ["Babis Chalios <mail@bchalios.io>", "Kostis Papazafeiropoulos <papazof@gmail.com>", "Anastassios Nanos <ananos@nubificus.co.uk"]
edition = "2021"
build = "build.rs"
license = "Apache-2.0"

[lib]
name = "vaccel"
path = "src/lib.rs"

[dependencies]
protocols = { git = "https://github.com/cloudkernels/vaccel-grpc", tag = "v0.3.2"  }
protobuf = "=2.27.1"
libc = "0.2.125"

[build-dependencies]
libc = ">=0.2.39"
bindgen = "0.59.2"
pkg-config = "0.3.25"
cmake = "=0.1.45"

[dev-dependencies]
env_logger = "0.9.0"
log = "0.4.16"
utilities = { path = "utilities" }
